id: suhendra-rules
version: v0.36.0-beta.4
upstream:
  url: http://127.0.0.1:9200
match:
  url: {{ oath_rule_match_url }}
  methods:
    - GET
    - POST
    - PUT
    - DELETE
authenticators:
  - handler: oauth2_introspection
  - handler: oauth2_client_credentials
authorizer:
  - handler: allow
mutators:
  - handler: noop
errors:
  - handler: json
